<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<title>Waseda JW</title> 
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ClassInfoStyle.css') }}">
	</head>

	<body>
		<div class="topnav">
		  <a class="active" href="#home">Waseda JW</a>
		  <a href="Timetable_Page.htm">Timetable</a>
		  <a href="#">Courses</a>
		  <a href="#about">Developers' Info</a>
		  <input type="text" placeholder="Search..">
		</div>
			<div class="page-container">			
				<div id="details" class="css styles">
					<header>
						<h1>
							<span id="courseTitle"> {{course.title}} </span> 
						</h1>
						<h3 id="courseCode">{{course.courseCode}}</h3>
						<h4 id="courseDepartment">{{course.school}}</h4>
						<h4 id="courseCredits">{{course.credits}} Credit(s)</h4>
						<h4 id="campus">{{course.campus}} Campus</h4>
						
					</header>
					<!--Section for the course info and options to add to timetable-->
				
					<div>
						<p id="courseOutline">
							{{course.outline}}
						</p>
						<d1 >
							<dt>Instructor</dt>
							<dd id="instructor">{{course.instructor}}</dd>
							<dt>Classroom(s)</dt>
							<dd id="classroom">{{course.classroom}}</dd>
							<dt>Language(s)</dt>
							<dd id="language">{{course.language}}</dd>
							<dt>Period</dt>
							<dd id="period">{{course.period}}</dd>		
							<dt>Level</dt>
							<dd id="level">{{course.level}}</dd>		
						</d1>
					</div>
					<div>
						<button type="button" id="addButton"> 				
								"Add to Timetable"
						</button>
					</div> 
					
					<div id="officialLinks">
						<h3>Official Links</h3>
						<a href="https://my.waseda.jp/login/login">MyWaseda</a>
					</div>
					
				<div>
					<div id="flashMessage"></div>
					<div>
						<table>
							<tr>
								<th></th>
								<th colspan="2"> 1</th>
								<th colspan="2"> 2</th>
								<th colspan="2"> 3</th>
								<th colspan="2"> 4</th>
								<th colspan="2"> 5</th>
								<th colspan="2"> 6</th>
								<th colspan="2"> 7</th>
							</tr>
							<tr id="time">
								<td></td>
								<td>0900</td>
								<td>1030</td>
								<td>1040</td>
								<td>1210</td>
								<td>1300</td>
								<td>1430</td>
								<td>1445</td>
								<td>1615</td>
								<td>1630</td>
								<td>1800</td>
								<td>1815</td>
								<td>1945</td>
								<td>1955</td>
								<td>2125</td>
							</tr>
							<tr>
								<td class="timetableDay">Mon</td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
							</tr>
							<tr>
								<td class="timetableDay">Tue</td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
							</tr>
							<tr>
								<td class="timetableDay">Wed</td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
							</tr>
							<tr>
								<td class="timetableDay">Thur</td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
							</tr>
							<tr>
								<td class="timetableDay">Fri</td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
							</tr>
							<tr>
								<td class="timetableDay">Sat</td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
								<td class="timetableHour" colspan="2"></td>
							</tr>
						</table>
					</div>
				</div>		
			</div>
	</body>
	<script type="text/javascript" src={{ url_for('static', filename='ClassInfo_Page.js') }}></script>
</html>
