{% extends "layout.html" %}
{% block title %}Class Info{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="page-container">			
	<div id="details" class="css styles">
		<header>
			<h1>
				<span id="courseTitle"> {{course.title}} </span> 
			</h1>
			<h3 id="courseCode">{{course.courseCode}}</h3>
			<h4 id="courseDepartment">{{course.school}}</h4>
			<h4 id="courseCredits">{{course.credits}} Credit(s)</h4>
			<h4 id="campus">{{course.campus.title()}} Campus</h4>
			
		</header>
		<!--Section for the course info and options to add to timetable-->
	
		<div>
			<p id="courseOutline">
				{{course.outline}}
			</p>
			<d1 >
				<dt>Instructor</dt>
				<dd id="instructor">{{course.instructor}}</dd>
				<dt>Classroom(s)</dt>
				<dd id="classroom">{{course.classroom}}</dd>
				<dt>Language(s)</dt>
				<dd id="language">{{course.language}}</dd>
				<dt>Period</dt>
				<dd id="period">{{' '.join(course.period)}}</dd>		
				<dt>Level</dt>
				<dd id="level">{{course.level}}</dd>		
			</d1>
		</div>
		<div>
			<button type="button" id="addButton" onclick="add()">Add to Timetable</button>
		</div> 
		<div id="flashMessage"></div>
		<div id="officialLinks">
			<h3>Official Links</h3>
			<a href="https://my.waseda.jp/login/login">MyWaseda</a>
		</div>
		
	<div>
		<div>
			<table>
					<tr>
								<th></th>
								<th colspan="2"> 1</th>
								<th colspan="2"> 2</th>
								<th colspan="2"> 3</th>
								<th colspan="2"> 4</th>
								<th colspan="2"> 5</th>
								<th colspan="2"> 6</th>
								<th colspan="2"> 7</th>
							</tr>
							<tr id="time">
								<td></td>
								<td>0900</td>
								<td>1030</td>
								<td>1040</td>
								<td>1210</td>
								<td>1300</td>
								<td>1430</td>
								<td>1445</td>
								<td>1615</td>
								<td>1630</td>
								<td>1800</td>
								<td>1815</td>
								<td>1945</td>
								<td>1955</td>
								<td>2125</td>
							</tr>
							<tr>
								<td class="timetableDay">Mon</td>
								<td class="timetableHour" colspan="2" id="Mon1"></td>
								<td class="timetableHour" colspan="2" id="Mon2"></td>
								<td class="timetableHour" colspan="2" id="Mon3"></td>
								<td class="timetableHour" colspan="2" id="Mon4"></td>
								<td class="timetableHour" colspan="2" id="Mon5"></td>
								<td class="timetableHour" colspan="2" id="Mon6"></td>
								<td class="timetableHour" colspan="2" id="Mon7"></td>
							</tr>
							<tr>
								<td class="timetableDay">Tue</td>
								<td class="timetableHour" colspan="2" id="Tue1"></td>
								<td class="timetableHour" colspan="2" id="Tue2"></td>
								<td class="timetableHour" colspan="2" id="Tue3"></td>
								<td class="timetableHour" colspan="2" id="Tue4"></td>
								<td class="timetableHour" colspan="2" id="Tue5"></td>
								<td class="timetableHour" colspan="2" id="Tue6"></td>
								<td class="timetableHour" colspan="2" id="Tue7"></td>
							</tr>
							<tr>
								<td class="timetableDay">Wed</td>
								<td class="timetableHour" colspan="2" id="Wed1"></td>
								<td class="timetableHour" colspan="2" id="Wed2"></td>
								<td class="timetableHour" colspan="2" id="Wed3"></td>
								<td class="timetableHour" colspan="2" id="Wed4"></td>
								<td class="timetableHour" colspan="2" id="Wed5"></td>
								<td class="timetableHour" colspan="2" id="Wed6"></td>
								<td class="timetableHour" colspan="2" id="Wed7"></td>
							</tr>
							<tr>
								<td class="timetableDay">Thur</td>
								<td class="timetableHour" colspan="2" id="Thu1"></td>
								<td class="timetableHour" colspan="2" id="Thu2"></td>
								<td class="timetableHour" colspan="2" id="Thu3"></td>
								<td class="timetableHour" colspan="2" id="Thu4"></td>
								<td class="timetableHour" colspan="2" id="Thu5"></td>
								<td class="timetableHour" colspan="2" id="Thu6"></td>
								<td class="timetableHour" colspan="2" id="Thu7"></td>
							</tr>
							<tr>
								<td class="timetableDay">Fri</td>
								<td class="timetableHour" colspan="2" id="Fri1"></td>
								<td class="timetableHour" colspan="2" id="Fri2"></td>
								<td class="timetableHour" colspan="2" id="Fri3"></td>
								<td class="timetableHour" colspan="2" id="Fri4"></td>
								<td class="timetableHour" colspan="2" id="Fri5"></td>
								<td class="timetableHour" colspan="2" id="Fri6"></td>
								<td class="timetableHour" colspan="2" id="Fri7"></td>
							</tr>
							<tr>
								<td class="timetableDay">Sat</td>
								<td class="timetableHour" colspan="2" id="Sat1"></td>
								<td class="timetableHour" colspan="2" id="Sat2"></td>
								<td class="timetableHour" colspan="2" id="Sat3"></td>
								<td class="timetableHour" colspan="2" id="Sat4"></td>
								<td class="timetableHour" colspan="2" id="Sat5"></td>
								<td class="timetableHour" colspan="2" id="Sat6"></td>
								<td class="timetableHour" colspan="2" id="Sat7"></td>
							</tr>
			</table>
		</div>
	</div>		
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
function add() {
	document.getElementById("flashMessage").innerHTML ="<div class='alert alert-success alert-dismissible'> <strong>Success!</strong> You have added this course to your timetable</div>";

}
var addButton = document.getElementById("addButton");
addButton.addEventListener("click",	add);

var periodsHTML = document.getElementById("period");
var periods = periodsHTML.innerHTML;
var periodsList = periods.split(",");


for (var i = 0; i < periodsList.length; i++) {
	if ((periodsList[i][0] == "W") || (periodsList[i][0]) == "w") {
		var separated = periodsList[i].split(".");
		var formattedPeriod = "Wed"+ separated[1].toString();
		var courseTitle = document.getElementById("courseTitle").innerHTML;
		document.getElementById(formattedPeriod).classList.add("activePeriod");
		document.getElementById(formattedPeriod).innerHTML= courseTitle;
	}
}

</script>
{% endblock %}