{% extends "layout.html" %}
{% block title %}Timetable{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="page-container">
	<div class="semesterInfo">
		Current Semester: 
		<span id="currentSemester"></span>
	</div>
	<div class="row">
		<span class="timetable col-md-6">
			<table>
				<tr>
					<th></th>
					<th colspan="2"> 1</th>
					<th colspan="2"> 2</th>
					<th colspan="2"> 3</th>
					<th colspan="2"> 4</th>
					<th colspan="2"> 5</th>
					<th colspan="2"> 6</th>
					<th colspan="2"> 7</th>
				</tr>
				<tr id="time">
					<td></td>
					<td>0900</td>
					<td>1030</td>
					<td>1040</td>
					<td>1210</td>
					<td>1300</td>
					<td>1430</td>
					<td>1445</td>
					<td>1615</td>
					<td>1630</td>
					<td>1800</td>
					<td>1815</td>
					<td>1945</td>
					<td>1955</td>
					<td>2125</td>
				</tr>
				<tr>
					<td class="timetableDay">Mon</td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
				</tr>
				<tr>
					<td class="timetableDay">Tue</td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
				</tr>
				<tr>
					<td class="timetableDay">Wed</td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
				</tr>
				<tr>
					<td class="timetableDay">Thur</td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
				</tr>
				<tr>
					<td class="timetableDay">Fri</td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
				</tr>
				<tr>
					<td class="timetableDay">Sat</td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
					<td class="timetableHour" colspan="2"></td>
				</tr>
			</table>
		</span>
		<span class="col-md-2">
			<ul>
				Courses:
				<li>
				</li>
			</ul>
		</span>
		<button id="export">Export schedule</button>
	</div>

</div>
{% endblock %}